.chat-side
  .side-header
    %p.side-header__user-name
      = current_user.name
    %ul.user_menu
      %li.user_menu__edit_user
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to edit_user_path (current_user) do
          = fa_icon 'cog', class: 'icon'

  .groups
    .group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__group-massage
            = group.show_last_message

